@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Truths</h1>
    <h3>Where users give TRUE travel reviews! </h3> </div>
   

<div class="row">
    <div class="col-md-4">
        <h2>Why use Travel Truths?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet elit eu nibh condimentum aliquet. Curabitur sed diam a mi semper suscipit. Vivamus lobortis semper rutrum. In congue tristique placerat. Nam commodo hendrerit purus, in convallis diam vehicula sed. Sed neque sem, mattis a commodo laoreet, auctor vel tellus. Nulla mollis facilisis sapien, et pretium ipsum tincidunt et. Etiam non ex maximus, ornare ipsum non, congue urna. Maecenas eu tortor turpis. Vivamus eget venenatis tortor, efficitur aliquet sapien. Duis eu nisi hendrerit sapien pretium bibendum sit amet nec est. Phasellus sit amet venenatis odio.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">More Info! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Want to save MONEY?</h2>
        <p>For a limited time, Travel Truths is offering COUPON CODES!</p>
        <p><a class="btn btn-default" href="https://www.google.com/doodles/30th-anniversary-of-pac-man">Click to Save! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Special Thanks...</h2>
        <p>To our Sponsors! This website wouldn't be possible without them. Check out these other cool sites!</p>
        <p><a class="btn btn-default" href="http://www.rainymood.com/">Support Us! &raquo;</a></p>
    </div>
</div>